body {
    padding-top: 70px;
}

/* region sticky footer */

html,
body, #app, #app-container {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    background-color: #ffffff;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -44px;
    /* Pad bottom by footer height (with padding) */
    padding: 0 0 44px;
    background: #ffffff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #b5b5b5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #B5B5B5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #B5B5B5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #B5B5B5); /* Standard syntax */
}

footer {
    height: 44px;
}

footer p {
    margin-top: 10px;
}

/* end region sticky footer */


/* region navigation */
.navbar-inverse {
    background-color: #000000;
    border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #000000;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-link {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-inverse .navbar-nav > .active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background: none;
}

/* end region navigation */


/* region brew phases */

.progress-bar-inactive {
    background-color: #e0e0e0;
}

.progress-bar-inactive2 {
    background-color: #cccccc;
}

/* end region brew phases */
.panel {
    border-color: #000000;
}

.panel.panel-heading {
    background-color: #000;
}

.panel.panel-actual-brew .panel-footer {
    background-color: #fff;
}

.designer .panel.phases .panel-footer {
    background-color: #fff;
}

.designer .panel.panel-info.phases .panel.panel.phases .panel-footer {
    border-color: #000000;
}
